.card-title,
.card-subtitle {
    text-align: right;

}
.current-icon{
    left: 1rem;
    position: absolute;

}
.card-link{
    padding: 1rem;
    text-align: center;
}
#button{
    margin-bottom: 0!important;
}
h5 {
    text-align: right;
    
}

img {
    max-width: 100px;
}

.active {
    color: #595C5F ;
    text-decoration: none;
}

.not-active {
    color: black;
    text-decoration: none;
}